ul.list {
    list-style-type: none;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul.list li {
    width: calc(25% - 20px); 
    margin-top: 10px; 
}

ul.list li a {
    background: #f8f8f8; 
    color: #6296bb;
    border: 1px solid #6296bb;
    border-radius: 10px;
    transition: 0.3s ease all;
    line-height: 1;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

ul.list li a:hover {
    background: #e3f2fd;
    color: #477698;
    box-shadow: 0 0 60px #b3cada inset;
    text-decoration: none;
}