<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong>EX:1 With promise</strong>
            <hr>
            <button type="button" class="btn btn-outline-primary" (click)="exampleOne()">Buy Laptop</button>
            <hr>
            <div id="result"> {{resultOne}} </div>
        </div>
        <div class="col-md-4">
            <strong>EX:2 With Async / Await</strong>
            <hr>
            <button type="button" class="btn btn-outline-primary" (click)="exampleOTwo()">Buy Laptop</button>
            <hr>
            <div id="result"> {{resultTwo}} </div>
        </div>
        <div class="col-md-4">
            <strong>EX:3w With Fetch Api</strong>
            <hr>
            <button type="button" class="btn btn-outline-primary" (click)="exampleThree()">Buy Laptop</button>
            <hr>
            <div id="result"> {{resultThree}} </div>
        </div>
    </div>
</div>